<log4net>
  <appender name="TableAppender" type="log4net.Appender.AzureTableAppender, log4net.Appender.Azure">
    <param name="TableName" value="TableForLog"/>
    <param name="ConnectionString" value="https://csb718be2be8be5x4e30x878.table.core.windows.net/TableForLog"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
    </layout>
  </appender>
  <appender name="TableStorageLogAppender" type="Log4NetTableStorageAppender.AzureTableStorageAppender, Log4NetTableStorageAppender">
    <bufferSize value="100" />
    <ConnectionStringName value="StorageConnectionString" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
    </layout>
  </appender>
  <appender name="BlobAppender" type="log4net.Appender.AzureBlobAppender, log4net.Appender.Azure">
    <param name="ContainerName" value="testloggingblob"/>
    <param name="DirectoryName" value="logs"/>
    <param name="ConnectionString" value="UseDevelopmentStorage=true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="TableStorageLogAppender"/>
  </root>
</log4net>