<log4net>
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <!-- can be any pattern you like -->
      <conversionPattern value="%logger - %message" />
    </layout>
  </appender>
  <!-- does not have to be at the root level -->
  <root>
    <level value="ALL" />
    <appender-ref ref="TraceAppender" />
  </root>
</log4net>